<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Jess</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">We all Love Jess  </h1>
        <div class="row center">
         <h5 class="header col s12 light">Jess is a  strong minded, Sensitive, Iron lady and Fashion-Blogger, from Dar-es-salaam Tanzania, </h5>
          
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1"><i class="material-icons">credit_card</i>Follow </a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
        <%= image_tag("jess.jpg", :alt => "Unsplashed background img 1") %> </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">phone</i></h2>
            <h5 class="center">Talk to jess</h5>

            <p class="light">just like this website , jess is smooth and up-lifting  to evryone around her .although she may seem distant at times its normal because we all need some space , personaly i vouch for her she is amaziong and fun!.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">What others say about jess</h5>

            <p class="light"></p>
         <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Baba Eva</span>
      <p>Uncle <br>
         i love this child, she is a genius and a veryimportant part of our lives 
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Mr Boniface lymo</span>
      <p>i love my daughter<br>
         she is the best thing to ever happen to me 
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">School mates</span>
      <p>A Genius <br>
         i wish i had brains like hers , i would do al the exams in the world e
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
            
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">face</i></h2>
            <h5 class="center">More About jess</h5>

            <p class="light">She is a Virgo , we all know virgos and their brilliant minds. she is fun contributive and easy to work and travel with ( oops ! travel,tech,and food ) she loves travel and helping the sick and neeedy . she wants to be a doctor  she is my cousin and i love her fillialy .</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">"A life you would definitely get hooked to  support and love  "-xparta(web developer from Kenya)</h5>
        </div>
      </div>
    </div>
    <div class="parallax"> <%= image_tag("jess.jpg", :alt => "Unsplashed background img 1") %> </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text">Contact Jess</i><i class="material-icons">favorite_border</i>
          </h3>
          <h4></h4>
          <p class="left-align light">Do you like jess page ? would you like to know more about her like what she does and whats her favourite date restaurant , her music and hobbises ,contact jess via her contacts below. jess we love you .!! and jess loves you all too!! i mean isnt she beautiful , yes hse is ..doesnt she have brains ? yes hse does . why else do you think i would be her ewriting this awesomely long paragraph about jess trying to tell you how cool she is . of course she is cool and we have the numbers to proove that , the likes on instagram the friends  on facebook , the love from parents and relatives the massive provinces and countries loving her just like we do , even mama africa loves he r, we love you all jsee .!;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">to know more about jess please feel free to contact her via the contact page </h5>
        </div>
      </div>
    </div>
    <div class="parallax"> <%= image_tag("jess.jpg", :alt => "Unsplashed background img 1") %> </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About the developer</h5>
          <p class="grey-text text-lighten-4">is a humanitarian and a person of del-dacrifice who loves giving back to the commuity </p>


       <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add facebook</i></a>
       <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add twitter </i></a>
       <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add linkedin</i></a>
       <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add love</i></a>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="/home">Open source programmer Newton </a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
